.level {
  background-color: #000;
  margin: 0 auto;
  position: relative;
}

.alien {
  background-image: url('../alien.svg');
  background-size: 40px 30px;
}

.player {
  position: absolute;
  bottom: 0;
  background-image: url('../player.svg');
  background-size: 30px 30px;
}
